@import "tailwindcss";
@import "@fontsource-variable/geist";

body {
  font-family: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
